[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
aniso8601 = "==7.0.0"
asgiref = "==3.2.7"
astroid = "==2.3.3"
autopep8 = "==1.5.1"
beautifulsoup4 = "==4.9.0"
bs4= "==0.0.1"
certifi= "==2020.4.5.1"
chardet= "==3.0.4"
dj-database-url= "==0.5.0"
Django= "==3.0.14"
django-heroku= "==0.3.1"
graphene= "==2.1.8"
graphene-django= "==2.9.1"
graphql-core= "==2.3.1"
graphql-relay= "==2.0.1"
gunicorn= "==20.0.4"
idna= "==2.9"
isort= "==4.3.21"
lazy-object-proxy= "==1.4.3"
lxml= "==4.9.1"
mccabe= "==0.6.1"
promise= "==2.3"
pycodestyle= "==2.5.0"
pylint= "==2.4.4"
pytz= "==2019.3"
requests= "==2.23.0"
Rx= "==1.6.1"
singledispatch= "==3.4.0.3"
six= "==1.14.0"
soupsieve= "==2.0"
sqlparse= "==0.3.1"
typed-ast= "==1.4.1"
urllib3= "==1.25.9"
whitenoise= "==5.0.1"
wrapt= "==1.11.2"

[requires]
python_version = "3.6"
